
%p.normal
  %label{ :for => "integrity_cap_notifier_target" } Capistrano target
  %input.text#integrity_cap_notifier_target{ :name => "notifiers[IntegrityCapNotifier][target]", :value => config["target"], :type => "text" }

